body {
	width: 100%;
	color: #282830;
}
.container {
	width: 980px;
	margin: auto;
	background-color: #E7E7E7;
}

h1 {
	color: #60646D;
    border-bottom: 2px solid #60646D;
    text-align: center;
}

.texte {
	font-size: 11pt;
	text-align: justify;
}